<div class="form-area">
    <div >
      <label class="form-label ">
         <p> Número de cédula de ciudadanía
        </p>
           </label>
      <p class="b2-light">
          Digita el número de tu documento y acepta 
          la consulta en centrales de riesgo.
      </p>
    </div>
    <form #welcomeForm="ngForm" >
      <div class="input-checkmark">
        <input type="text" class="form-text-input" bdb-document #cedula="ngModel" [(ngModel)]="cedulam" name="cedula" placeholder=""
          required maxlength="12" minlength="7">
      </div>
      <br>
      <div class="alert alert-warning" *ngIf="cedula.touched && !cedula.valid">Cédula debe contener entre 6 y 10 caracteres</div>
      <div class="form-group">
        <div class="checkbox">
            <label class="label-checkbox">
                <input class="form-checkbox-input" required name="declaracion" ngModel #declaracion="ngModel" [(ngModel)]="ischeck"  type="checkbox" >
                <div class="form-checkbox-label">
                  <p class="checkbox-mark"></p>
                </div>
              </label>
              <div class="descripcion-terminos">
                  Declaro que conozco y acepto la autorización de tratamiento de 
                  datos, consulta y otra del Banco de Bogotá, que permite además 
                  la consulta de mi información financiera, datos personales y 
                  comerciales en centrales de riesgo, de conformidad con lo 
                  establecido en la Ley 1581 de 2012 y la Ley 1266 de 2008.
              </div>
        </div>
        <div class="alert alert-warning" *ngIf="declaracion.touched && !declaracion.valid">
          Por favor acepte los terminos y condiciones para continuar.
        </div>
      </div>
      
      <div>
          <button class="btn btn-warning" (click)='showModal()' [disabled]="!welcomeForm.form.valid"> Siguiente</button>        
      </div>
  </form>
    <bdb-modal-ducc class="text-center" [clicked]='clicked' (onClose)='closeModal()'>
      <section class="col-md-12">
        <div class=" col-centered">
            <img src="../../assets/images/alert.svg" alt="" style="border-radius:50%;height:90px;width:90px;padding:10px;">
          <h2 class="alerta-modal b1-light"> Ha ocurrido un error<br> en la validación</h2>
         <p class=".msm-modal b4-light">No hemos podido confirmar el proceso por favor comunícate con uno de nuestros asesores.</p>
        </div>
      </section>
      <hr>
    </bdb-modal-ducc>
  </div>
