<form>
    <bdb-field-form [control]='birthDate' (back)='onBack()'>
        <span><img src="../../assets/images/calendar.svg"></span>
        <label *ngIf='!birthDate.last' for="birthDate" class="form-label">Pilar, ¿En qué fecha naciste?</label>
        <label *ngIf='birthDate.last' class="form-label">Fecha nacimiento</label>
        <input [disabled]='isBirthDateLast()' [max]="toBeOld()" [(ngModel)]="birthDate.value" required type="date" class="form-text-input"
            name="birthDate">
    </bdb-field-form>

    <bdb-field-form [control]='income' (back)='onBack()'>
        <span><img src="../../assets/images/wallet.svg"></span>
        <label *ngIf='!income.last' for="income" class="form-label">¿Cuales son tus ingresos?</label>
        <label *ngIf='income.last' class="form-label">Ingresos mensuales</label>
        <input [disabled]='isIncomelast()' placeholder="$" autocomplete="off" [(ngModel)]="income.value" required type="text" (keyup)="onkeyUp($event,income)" currencyMask
            [options]="{align:'left', allowNegative: false, precision: 0, thousands: ',' }" class="form-text-input" name="income">
    </bdb-field-form>

    <bdb-field-form [control]='contractType' (back)='onBack()'>
        <span><img src="../../assets/images/docs.svg"></span>
        <label *ngIf='!contractType.last' for="contractType" class="form-label">¿Qué tipo de contrato tienes actualmente?</label>
        <label *ngIf='contractType.last' class="form-label">Tipo de contrato </label>
        <p *ngIf='contractType.last'>{{contractType.value }}</p>
        <bdb-check-box label="Término fijo">
            <input class="form-check-input" [(ngModel)]="contractType.value" type="radio" name="contractType" value="Término fijo">
        </bdb-check-box>
        <bdb-check-box label="Término indefinido">
            <input class="form-check-input" [(ngModel)]="contractType.value" type="radio" name="contractType" value="Término indefinido">
        </bdb-check-box>
    </bdb-field-form>

    <bdb-field-form [control]='permanency' (back)='onBack()'>
        <span><img src="../../assets/images/clock.svg"></span>
        <label *ngIf='!permanency.last' for="permanency" class="form-label">¿Cuánto tiempo llevas en la empresa?</label>
        <label *ngIf='permanency.last' for="permanentcy" class="form-label">Tiempo en la empresa</label>
        
        <div class="relative" (click) ='setFocus()' >
            <div class="input-div">
                    <div #inputMes (keyup)='onDivChange($event)' class="div-textfield" contenteditable="true" spellcheck="true"></div> 
            <p #maskMes class="mask">meses</p>
                  </div>

            <input [(ngModel)]="permanency.value" required type="hidden" class="form-text-input" name="permanency">
        </div>
    </bdb-field-form>

    <bdb-field-form [control]='rent' (back)='onBack()'>
        <span><img src="../../assets/images/doc.svg"></span>
        <label *ngIf='!rent.last' for="rent" class="form-label">¿Declaras renta?</label>
        <label *ngIf='rent.last' class="form-label">Declaración de renta </label>
        <p *ngIf='rent.last'>{{rent.value }}</p>
        <bdb-check-box label="Sí">
            <input class="form-check-input" [(ngModel)]="rent.value" type="radio" name="rent" value="Sí">
        </bdb-check-box>
        <bdb-check-box label="No">
            <input class="form-check-input" [(ngModel)]="rent.value" type="radio" name="rent" value="No">
        </bdb-check-box>
    </bdb-field-form>

    <bdb-field-form [control]='relation' (back)='onBack()'>
        <span><img src="../../assets/images/doc.svg"></span>
        <label *ngIf='!relation.last' for="relation" class="form-label">¿Tienes alguna relación con el Banco de Bogotá?</label>
        <label *ngIf='relation.last' for="relation" class="form-label">Relación con el Banco</label>
        <p *ngIf='relation.last'>{{relation.value }}</p>
        <div class="row col-md-12">
            <bdb-check-box class="col-md-6" label="Soy empleado filial">
                <input class="form-check-input" [(ngModel)]="relation.value" type="radio" name="relation" value="Soy empleado filial">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Soy accionista">
                <input class="form-check-input" [(ngModel)]="relation.value" type="radio" name="relation" value="Soy accionista">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Soy funcionario">
                <input class="form-check-input" [(ngModel)]="relation.value" type="radio" name="relation" value="Soy funcionario">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Soy pensionado">
                <input class="form-check-input" [(ngModel)]="relation.value" type="radio" name="relation" value="Soy pensionado">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Ninguna">
                <input class="form-check-input" [(ngModel)]="relation.value" type="radio" name="relation" value="Ninguna">
            </bdb-check-box>
        </div>

    </bdb-field-form>

    <bdb-field-form [control]='family' (back)='onBack()'>
        <div class="clearfix"></div>
        <span><img src="../../assets/images/doc.svg"></span>
        <label *ngIf='!family.last' for="family" class="form-label">¿Eres familiar de algún empleado del Banco de Bogotá?</label>
        <label *ngIf='family.last' for="family" class="form-label">Familiar de empleado</label>
        <p *ngIf='family.last'>{{family.value }}</p>
        <bdb-check-box label="Sí">
            <input class="form-check-input" [(ngModel)]="family.value" type="radio" name="family" value="Sí">
        </bdb-check-box>
        <bdb-check-box label="No">
            <input class="form-check-input" [(ngModel)]="family.value" type="radio" name="family" value="No">
        </bdb-check-box>
    </bdb-field-form>

    <bdb-field-form [control]='relationship' (back)='onBack()'>
        <span><img src="../../assets/images/doc.svg"></span>
        <label for="relationship" class="form-label">¿Qué parentesco tienen?</label>
        <div class="row col-md-12">
            <bdb-check-box class="col-md-6" label="Es mi padre">
                <input class="form-check-input" [(ngModel)]="relationship.value" type="radio" name="relationship" value="padre">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Es mi madre">
                <input class="form-check-input" [(ngModel)]="relationship.value" type="radio" name="relationship" value="madre">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Es mi esposo (a)">
                <input class="form-check-input" [(ngModel)]="relationship.value" type="radio" name="relationship" value="esposos">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Es mi hijo (a)">
                <input class="form-check-input" [(ngModel)]="relationship.value" type="radio" name="relationship" value="hijo">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Es mi hermano (a)">
                <input class="form-check-input" [(ngModel)]="relationship.value" type="radio" name="relationship" value="hermanos">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Es mi abuelo (a)">
                <input class="form-check-input" [(ngModel)]="relationship.value" type="radio" name="relationship" value="abuelo">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Es mi cuñado (a)">
                <input class="form-check-input" [(ngModel)]="relationship.value" type="radio" name="relationship" value="cuñado">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Es mi suegro (a)">
                <input class="form-check-input" [(ngModel)]="relationship.value" type="radio" name="relationship" value="suegro">
            </bdb-check-box>
            <bdb-check-box class="col-md-6" label="Otro">
                <input class="form-check-input" [(ngModel)]="relationship.value" type="radio" name="relationship" value="otro">
            </bdb-check-box>
        </div>
    </bdb-field-form>

    <button (click)='onClick()' [disabled]='validarCampoActual()' type="submit" class="btn btn-lg btn-default"> Siguiente
    </button>
</form>