<!-- Modal -->
<div class="modal " [class.target]='isModalOpenned' id="modal-one">
  <aside class="backdrop target" (click)='openModal()'></aside>
  <div class="modal-dialog animated zoomIn">
    <div class="modal-body">
        <div class="modal-header">
          <img class="btn-modal-close" (click)='openModal()' src="../../../../assets/images/close.svg" alt="exit">      
          <img height="30" src="../../../../assets/images/logoHeader.svg" alt="">
          <h2 class="payment-header"> {{title}} </h2>
          <aside class="payment-date text-center">
            {{ date | date: 'dd/MM/y' }}
          </aside>
          <br>
          <table class="table">
              <thead >
                <tr>
                  <th >Periodo</th>
                  <th class="text-center">Amortización</th>
                  <th class="text-center">Interés</th>
                  <th class="text-center">Seguro de vida</th>
                  <th class="text-center">Valor total cuota</th>
                  <th >Saldo a capital</th >
                </tr>
              </thead>
          </table>
        </div>
      <div class="modal-body-content">
          <table class="table">
              <tbody>
                  <tr>
                      <td class="text-left">0</td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td > {{actualLoan | currency:'USD':true:'1.0-0'}} </td>
                    </tr> 
                  <tr *ngFor = 'let payment of payments, let i = index'>
                      <td class="text-left">{{i+1}}</td>
                      <td> {{payment.amortization | currency:'USD':true:'1.0-0'}} </td>
                      <td> {{payment.interest | currency:'USD':true:'1.0-0'}} </td>
                      <td> {{payment.lifeInsurance | currency:'USD':true:'1.0-0'}} </td>
                      <td> {{payment.totalPayment | currency:'USD':true:'1.0-0'}} </td>
                      <td > {{ abs(payment.balance) | currency:'USD':true:'1.0-0'}} </td>
                    </tr>  
              </tbody>
            </table>
          <p class="terminos text-center">
              El presente documento no constituye una promesa de apertura de produtos, está sujeto a las validaciones por parte de Banco.
              Las cifras aquí contenidas son aproximadas y de carácter informativo, dado que las tasas y otras condiciones pueden
              cambiar de acuerdo con el comportamiento del mercado. *El Valor Total Unificado de un producto del Activo “VTUA”
              es una proyección de los cobros asociados al producto (incluye las cuotas del crédito, primas de seguros, comisiones
              y cualquier otro concepto relacionado). El VTUA es una proyección no es una tasa de interés. Los conceptos que la
              conforman son los que normalmente se han venido pagando y/o cobrando en las operaciones de crédito. Lo anterior en
            </p>
           
      </div>        
    </div>
  </div>
</div>
<!-- /Modal -->