<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand navbar-brand-center" href="#">
              <img src="../../images/logoBdb.svg" class="logo-bb">
          </a>
      </div>
  </div>
</nav>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="/images/logo-bb.svg" class="logo-bb">
            </a>
            <ul class="nav-items">
                <li class="nav-item done">Info. Personal</li>
                <li class="nav-item current">Ocupación</li>
                <li class="nav-item next">Info. Financeira</li>
            </ul>
        </div>
    </div>
</nav>
<div class="nav-progress">
    <div class="progress-bar-success-33"></div>
</div>