<div class="scale80 row col-md-12 col-center">
  <div class="col-md-6">
    <bdb-range-bar [min]='minLoan' [max]='maxLoan' (valueChange)='updateActualLoan($event)' [startValue]='actualLoan'>
      <h3 class="text-center">Monto que deseas</h3>
      <h1 class="text-center"> {{ actualLoan | currency:'USD':true:'2.0-0' }}</h1>
    </bdb-range-bar>
    <p class="info-range text-center"> Mínimo {{ minLoan | currency:'USD':true:'2.0-0' }} | {{ maxLoan | currency:'USD':true:'2.0-0' }} </p>
  </div>
  <div class="col-md-6">
    <bdb-range-bar [min]='minTerm' [max]='maxTerm' [step]='6' (valueChange)='updateActuaMonths($event)' [startValue]='actualMonths'>
        <h3 class="text-center">Plazo</h3>        
      <h1 class="text-center"> {{ actualMonths}} meses</h1>
    </bdb-range-bar>
    <p class="info-range text-center"> Mínimo {{minTerm}} meses | Máximo {{maxTerm}} meses </p>
  </div>
</div>

<div class="row beauty-boxes">
  <div class="beauty-box">
    <h4 class="title">Tu cuota mensual sería de</h4>
    <p class="price">{{ payment | currency:'USD':true:'2.0-0' }}</p>
    <p class="more-options" (click)='openPayments()'>Ver plan de pagos</p>
  </div>
  <div class="beauty-box highlight">
    <h4 class="title">Te estás ahorrando</h4>
    <p class="price">$100.000</p>
    <p class="info">de tu cuota mensual comparado con</p>
    <p class="info"> la cuota a tasa plena de consumo</p>
  </div>
  <div class="beauty-box">
    <h4 class="title">Tu tasa sería</h4>
    <p class="price">{{rate * 100}}%</p>
    <p class="info">Mes vencido (M.V.)</p>
  </div>
</div>
<div class="col-md-2 col-center">
  <button class="btn btn-warning" (click)='onClick()'> Solicitar </button>
</div>
<br>
<p class="text text-center">
  El presente simulador no constituye una promesa de apertura de produtos, está sujeto a las validaciones por parte de Banco. Las cifras aquí contenidas son aproximadas y de carácter informativo, dado que las tasas y otras condiciones pueden cambiar de acuerdo con el comportamiento del mercado.
</p>
<lbrz-payments [open-modal]= 'isPaymentsOpen' title='Plan de pagos correspondiente a simulación' (modalClosed) = 'closePayments(event)'>
  
</lbrz-payments>