.beauty-boxes {
  text-align:center;
  padding: 40px 0px;
}
.beauty-box{
  padding:20px;
  width: 260px;
  margin:0 14px;
  position:relative;
  display:inline-block;
  border-radius:10px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.3);
  vertical-align:middle;
}
.beauty-box.highlight{
  width: 290px;
}
.beauty-box .title{
  color:gray;
}
.beauty-box .price{
  color:black;
  font-size:24px;
  font-weight: bold;
}

.beauty-box .more-options{
  color:blue;
  text-transform:uppercase;
  cursor:pointer;
}

.beauty-box .info{
  color:gray;
  cursor:pointer;
  padding:0px;
  margin:0px;
}
.text{
  color:#9b9b9b !important;
}